{{ 'custom-header.css' | asset_url | stylesheet_tag }}

{%- style -%}
{%- endstyle -%}

<div class="custom-header color-{{ section.settings.color_scheme }}">
  <h2>{{ section.settings.logo_text }}</h2>
</div>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Custom Header",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text",
      "default": "TISSO VISON"
    },
    {
      "type": "text",
      "id": "mobile_text",
      "label": "Mobile Menu Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "desktop_text",
      "label": "Desktop Center Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}
