.custom-header__container {
  max-width: var(--page-width);
  margin: 0 auto;
}

.custom-header__mobile {
  display: block;
}

.custom-header__mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  padding: 1rem;
  transition: box-shadow 0.3s ease;
}

.custom-header__mobile-top--menu-open {
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.custom-header__hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.custom-header__hamburger-icon--close {
  display: none;
}

.custom-header__logo {
  flex: 1;
  text-align: center;
}

.custom-header__logo-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4;
}

.custom-header__mobile-menu {
  max-height: 0;
  overflow: hidden;
}

.custom-header__mobile-menu--open {
  min-height: 7rem;
  max-height: 12rem;
}

.custom-header__mobile-content {
  padding: 1.5rem;
  text-align: center;
}

.custom-header__desktop {
  display: none;
}

.custom-header__button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 2.5rem;
  background: #fff544;
  color: black;
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.custom-header__button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  background: black;
  z-index: 1;
  transition: left 0.3s ease;
}

.custom-header__button:hover::before {
  left: 0;
}

.custom-header__button:hover {
  color: #fff544;
}

.custom-header__button-text,
.custom-header__button-icon {
  z-index: 2;
}

.custom-header__button:hover .custom-header__button-icon svg path {
  fill: #fff544;
}

@media screen and (min-width: 1024px) {
  .custom-header__mobile {
    display: none;
  }

  .custom-header__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0;
    min-height: 3rem;
  }

  .custom-header__desktop-left {
    flex: 1;
  }

  .custom-header__desktop-center {
    flex: 2;
    text-align: center;
  }

  .custom-header__desktop-right {
    flex: 1;
    text-align: right;
  }
}

@media screen and (min-width: 2160px) {
  .custom-header__desktop {
    padding: 1rem 0;
    min-height: 7rem;
  }

  .custom-header__logo-text {
    font-size: 3rem;
  }

  .custom-header__desktop-text {
    font-size: 1.7rem;
  }

  .custom-header__button {
    padding: 1rem 4rem;
    font-size: 1.5rem;
  }
}
